.text{
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 20px;
  gap: 31px;

  width: 333px;
  height: 44px;

  /* gray/300 */

  border: 1px solid #A6A6A6;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}